/*{
      width: 50%;
      margin: auto;
      background-color:#f0bf9e;
      font-family: 'Montserrat', sans-serif;

  }*/

.befitlogo{
  width:70px;
  height:30px;
}

    p{
        text-align:center;
        color:lightgrey;
        font-family:'Montserrat', sans-serif;
        font-size:30px;
      }


.message{
  text-align:center;
  color:lightgrey;
  font-family:'Montserrat', sans-serif;
  font-size:15px;

}

    h1{
      font-family:'Montserrat', sans-serif;
      text-align:center;
    }

    h1 span{
    	color:red;
    	font-family:'Montserrat', sans-serif;
    }

    span{
        color:#f0bf9e;
    }


h2{
      font-family:'Montserrat';
    }
    .jumbotron{background-color:#fff0f5;
    }


    body {
      background-color:#f0bf9e;
}



/* NAVBAR
===============================================================*/
 .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#f0bf9e;
    font-family:'Montserrat', sans-serif;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover:not(.active) {
    background-color: #f0bf9e;
    text-decoration: none;
}

li img{
  display: inline-block;}

#logo2{
  display:inline-block;

}

.indeximages{
  width: 150px;
  height: 150px;
}
/*footer{
  background-color:#f0bf9e;
  padding:10px;
}*/
footer {
background-color: black;
  padding: 25px;
  color:white;
}

table {
  border-spacing:px;
  padding:20px;
  display:center;
  border:;
}

/**--------------------------------FORM------------------------------*/
form{

  /* Just to center the form on the page */
  margin: 0 auto;
  width: 400px;

  /* To see the limits of the form */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

div + div {
  margin-top: 1em;
}

label {
  /* To make sure that all label have the same size and are properly align */
  display: inline-block;
  width: 90px;
  text-align:;
}

input, textarea {
  /* To make sure that all text field have the same font settings
     By default, textarea are set with a monospace font */
  font: 1em sans-serif;

  /* To give the same size to all text field */
  width: 300px;

  -moz-box-sizing: border-box;
       box-sizing: border-box;

  /* To harmonize the look & feel of text field border */
  border: 1px solid #999;
}

input:focus, textarea:focus {
  /* To give a little highligh on active elements */
  border-color: #000;
}

textarea {
  /* To properly align multiline text field with their label */
  vertical-align:top;

  /* To give enough room to type some text */
  height: 5em;

  /* To allow users to resize any textarea vertically
     It works only on Chrome, Firefox and Safari */
  resize: vertical;
}

.button {
  /* To position the buttons to the same position of the text fields */
  padding-left: 90px; /* same size as the label elements */
}

button {
  /* This extra magin represent the same space as the space between
     the labels and their text fields */
  margin-left: .5em;
}
